  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">


<section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
            <!-- <img class="" src="/assets/images/img.jpg" alt="Imperial"> -->
        </div>
        <h1>We Rise By Lifting Others!</h1>
        <div class="actions" style="margin-top: 50px">
          <button class="btn-get-started" style="border-radius: 20px; padding:15px" (click)="gotoArtistLogin()"> <h3>Artist Login</h3></button>
          <button style="display: inline-block; margin-left:100px ;border-radius: 20px; padding:15px" class="btn-get-started" (click)="gotoUserLogin()">  <h3>User Login</h3></button>
        </div>
      </div>
    </div>
  </section>
axjxWp